.carousel {
  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;

  .carousel-card {
    grid-column: 2;
    text-align: center;
  }

  .carousel-arrow-l {
    grid-column: 1;
    text-align: right;
    font-size: 500%;
  }

  .carousel-arrow-r {
    grid-column: 2;
    font-size: 500%;
  }
}

.carousel-card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  p:nth-child(1) {
    font-size: 500%;
  }
}